@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-SemiBold.woff") format("woff"),
        url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Light.woff") format("woff"),
        url("../fonts/Raleway-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "http://fonts.fontstorage.com/import/roboto.css"; /*Этого шрифта не было в тулзах
                                                           потому добавил его через импорт*/