@import "fonts.css";


*{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;

    /*background-color: dimgrey;*/
}


.container{
    max-width: 1180px;
    width:100%;
    margin: 0 auto;
}



.nav-header{
    width:100%;
    height: 70px;

    background: #000000;
}

/*nav-flex{
    display: flex;
    justify-content: space-between;

}*/

.logo{
    position: relative;
    width: 68px;
    height: 31px;
    top: 20px;
    margin: 0;


    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
    background-color: inherit;

}

.logo #p1{
    color: #EC7979;
    background-color: transparent;
}



nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;


    background-color: inherit;
    position: relative;
    max-width: 489px;
    height: 20px;
    bottom: 9px;
    left: 693px;

}

nav >* {
    margin: 0;
    background-color: inherit;
    font-family: "Open Sans", Arial, sans-serif;

    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.7)
}

nav >*:hover {
    color: #EC7979;
}



.main-background{
    margin: auto;

    width: 100%;
    height: 600px;
/*    left: 0px;
    top: 0px;*/

    background: url("../images/background-1.jpg");
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));  /*чета фильтр не применяется(*/
}

.main-logo{
  /*  margin-top:110px;
    margin-left:110px;*/
    position: relative;
    top: 108px;

    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;

    color: #FFFFFF;
}

.main-logo #p2{
    color: #EC7979;
    background-color: transparent;
}

.main-hero {
    display: block;
    position:relative;
    width: 544px;
    top: 141px;
    /*left: 110px;*/

    margin-left:0;

    font-family: Raleway, Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.main-hero::after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 32px;
    border-bottom: 1px solid #FFFFFF;
}

.main-text{
    margin: 0;
    position: relative;
    width: 282px;

    top: 174px;

    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.8)
}

.main-download{
    background-color: Transparent;
    background-repeat:no-repeat;
    display: block;
    margin: 0;
    position: relative;
    top: 230px;
    width: 135px;
    height: 42px;


    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: color 0.5s ease;
}

.main-download:hover{

    transform: scale(1.05);

    color: #EC7979;

    border: 1px solid #EC7979;
}

/*.registr-container{
    display: block;
    margin: 0;
}*/

.registr {
    margin: 0;
    display: block;

    max-width: 370px;
    height: 370px;

    position: relative;
    left: 809px;
    bottom:154px;


    background: #FFFFFF;
    border-radius: 8px;
}

.registr-logo{
    display: block;
    text-align: center;
    height: 56px;
    padding-top: 15px;

    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: #333333;

}

.registr__container{
    display: block;
    margin: auto;
    max-width:252px;
}

.registr__container label{

    box-sizing: border-box;
    border-bottom: 1px solid #BDBDBD;
    display: block;
    /*width: 370px;*/
    padding: 35px 252px 19px 0px;


    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #BDBDBD;
}

label input{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    border: none;
}

/*
label input::after{
    content: '';
    display: block;
    width: 252px;
    margin-top: 14px;
    border-bottom: 1px solid #BDBDBD;
}
*/

.registr__button{
    display: block;
    position: relative;
    height: 54px;
    width: 370px;
    /*top: 14px;*/
    margin-top: 40px;

    background: #EC7979;
    border: none;
    border-radius: 0px 0px 8px 8px;
    color: white;
    padding: 19px 144px;
    text-align: center;
    text-decoration: none;
/*    display: inline-block;*/
/*    line-height: 20px;*/
    font-size: 16px;

}

.registr__button input{

    background-color: Transparent;
    background-repeat:no-repeat;
    border:none;
    color:white;

    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;


}


.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;


    width: 100%;
    height: 110px;
/*    left: 0px;
    top: 670px;*/

    background: #F8EFEF;
}

.socials-main{
    display: block;
    max-width: 365px;
    max-height: 27px;

    margin: 0;

    position: relative;
    top: 14px;

    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
/*    display: flex;
    align-items: center;*/

    color: #333333;
}

.socials-text{
    display: block;
    margin: 0;
    position: relative;
    top: 20px;
    max-width: 365px;
    max-height: 38px;


    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color:#86878B;
}

.socials-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;

    position: relative;
    left: 495px;
    bottom: 26px;

    background-color: inherit;

    max-height: 42px;
    max-width: 684px;

}

/*Почему маргин 0 в этом случае не убирает внешние отступы у элементов, в отличие от nav?*/

.socials-icons > a img{
    margin: 0;
    border:none;
    height: 42px;
    width: 42px;
}

.footer-main{
    margin: auto;


    width: 100%;
    height: 100px;

    background: #000000;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*box-sizing: border-box;*/


    background-color: inherit;

    position: relative;
    top: 30px;
    max-width: 317px;
}

.footer-icons > a img{
    height: 23px;
    width: 23px;
}

.footer-span{
    display: block;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    text-align: center;

    position: relative;
    top: 43px;

    color: rgba(255 ,255, 255, 0.5)
}