@import "fonts.css";


*{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Open Sans", Arial,sans-serif;

    /*background-color: dimgrey;*/
}


.container{
    max-width: 1180px;
    width:100%;
    margin: 0 auto;
}

/*--------------HEADER SECTION--------------*/


.nav-header{
    width:100%;
    height: 70px;

    background: #000000;
}

/*nav-flex{
    display: flex;
    justify-content: space-between;

}*/

.logo{
    position: relative;
    width: 68px;
    height: 31px;
    top: 20px;
    margin: 0;


    font-family: "Raleway", Arial, sans-serif;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
    background-color: inherit;

}

.logo #p1{
    color: #EC7979;
    background-color: transparent;
}



nav{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;


    background-color: inherit;
    position: relative;
    max-width: 489px;
    height: 20px;
    bottom: 9px;
    left: 693px;

}

nav >* {
    margin: 0;
    background-color: inherit;
    font-family: "Open Sans", Arial, sans-serif;

    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;

    color: rgba(255, 255, 255, 0.7)
}

nav >*:hover {
    color: #EC7979;
}


/*--------------MAIN SECTION--------------*/

.main-background{
    margin: auto;

    width: 100%;
    height: 600px;

    background: url("../images/background-1.jpg");
}

.main-background__mask{
    height: 600px;
    background: rgba(0, 0, 0, 0.45);
}

.main-logo{
    position: relative;
    top: 108px;

    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;

    color: #FFFFFF;
}

.main-logo #p2{
    color: #EC7979;
    background-color: transparent;
}

.main-hero {
    display: block;
    position:relative;
    width: 544px;
    top: 141px;

    margin-left:0;

    font-family: Raleway, Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;

    color: #FFFFFF;
}

.main-hero::after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 32px;
    border-bottom: 1px solid #FFFFFF;
}

.main-text{
    margin: 0;
    position: relative;
    width: 282px;

    top: 174px;

    font-family: Raleway, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.8)
}

.main-download{
    background-color: Transparent;
    background-repeat:no-repeat;
    display: block;
    margin: 0;
    position: relative;
    top: 230px;
    width: 135px;
    height: 42px;


    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: color 0.5s ease;
}

.main-download:hover{
    transform: scale(1.05);
    color: #EC7979;
    border: 1px solid #EC7979;
}


/*--------------REGISTR-CONTAINER IN-MAIN--------------*/

.registr {
    margin: 0;
    display: block;

    max-width: 370px;
    height: 370px;

    position: relative;
    left: 809px;
    bottom:154px;


    background: #FFFFFF;
    border-radius: 8px;
}

.registr-logo{
    display: block;
    text-align: center;
    height: 56px;
    padding-top: 15px;

    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: #333333;

}

.registr__container{
    display: block;
    margin: auto;
    max-width:252px;
}

.registr__container label{

    box-sizing: border-box;
    border-bottom: 1px solid #BDBDBD;
    display: block;
    /*width: 370px;*/
    padding: 35px 252px 19px 0;


    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    color: #BDBDBD;
}

label input{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    border: none;
}



.registr__button{
    display: block;
    position: relative;
    height: 54px;
    width: 370px;
    margin-top: 40px;

    background: #EC7979;
    border: none;
    border-radius: 0 0 8px 8px;
    color: white;
    padding: 19px 144px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

.registr__button:hover{
    cursor: pointer;
}

.registr__button input{

    background-color: Transparent;
    background-repeat:no-repeat;
    border:none;
    color:white;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.registr__button input{
    cursor: pointer;
}

/*--------------SOCIALS SECTION--------------*/

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;


    width: 100%;
    height: 110px;

    background: #F8EFEF;
}

.socials-main{
    display: block;
    max-width: 365px;
    max-height: 27px;

    margin: 0;

    position: relative;
    top: 14px;

    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: #333333;
}

.socials-text{
    display: block;
    margin: 0;
    position: relative;
    top: 20px;
    max-width: 365px;
    max-height: 38px;


    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;

    color:#86878B;
}

.socials-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;

    position: relative;
    left: 495px;
    bottom: 26px;

    background-color: inherit;

    max-height: 42px;
    max-width: 684px;

}


.socials-icons > a img{
    margin: 0;
    border:none;
    height: 42px;
    width: 42px;
}

/*--------------FOOTER SECTION--------------*/

.footer-main{
    margin: auto;


    width: 100%;
    height: 100px;

    background: #000000;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: inherit;

    position: relative;
    top: 30px;
    max-width: 317px;
}

.footer-icons > a img{
    height: 23px;
    width: 23px;
}


.footer-span{
    display: block;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 12px;
    text-align: center;

    position: relative;
    top: 43px;

    color: rgba(255 ,255, 255, 0.5)
}


/*--------------FEATURES SECTION--------------*/

.features__main-container{
    display:flex;
    margin: 110px auto 110px;
    max-width: 1180px;
    justify-content: space-between;
    box-sizing: border-box;
}

.features__frame-container{
    flex-direction: column;
    margin-right: 69px;
    max-width: max-content;
}

.features__frame-container button{
    width: 112px;
    padding: 45px 34px;
    margin-top: 10px;

    background: #333333;


    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    border: none;
    border-radius: 4px;

    transition: background 9999999s;
}

button:hover{
    content:'';
    cursor: pointer;
}

.features__frame-container button:active{
    content: '';
    background: #EC7979;
    transition: background-color 0.5s ease;
}

.features__text-container{
    max-width: 572px;
}

.features__head{
    margin-top: 10px;
    margin-bottom: 58px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

    color: #000000;
}

.features__text{
    margin-bottom: 75px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #86878B;
}

.features__download{
    background-color: #EC7979;

    padding: 11px 27px 11px 25px;

    font-family: "Open Sans", Arial, sans-serif;

    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    border-radius: 3px;
    box-sizing: border-box;

    transition: color 0.5s ease;
}

.features__download:hover{
    transform: scale(1.05);
}

.features__main-container img{
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    width: 320px;
    height: 253px;
}

/*--------------OUR PROCESS SECTION--------------*/


.process__main-container{
    display: flex;
    margin: 80px auto 110px;
    max-width: 1180px;
    align-items: center;
    flex-direction: column;
}

.process__head{
    margin-top: 80px;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    color: #212121;
}

.process__head::after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 34px;
    margin-left: 173px;
    border-bottom: 1px solid #E72424;
}

.process__descr{
    margin-top: 34px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #86878B;
}

.process__cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 68px 0 0;
    align-items: flex-start;
}

.process__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process__card h4{
    margin-top: 30px;
    font-family: "Open Sans", Arial,sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;

    color: #333333;
}

.process__card p{

    margin: 10px 0;
    max-width: 350px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}


/*--------------PRICES SECTION--------------*/


.pricing{
    background: #F5F5F5;
}

.pricing__main-container{
    display: flex;
    margin: 80px auto 60px;
    max-width: 1180px;
    align-items: center;
    flex-direction: column;
}

.pricing__head{
    margin-top: 80px;
    width: 409px;
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    color: #212121;
}

.pricing__head::after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 34px;
    margin-left: 173px;
    border-bottom: 1px solid #E72424;
}


.pricing__descr{
    margin-top: 34px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #86878B;
}

.pricing__table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 62px auto 60px;
    align-items: center;
}

.pricing__table-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing__table{
    display: block;
    margin: 0 78px 0 0;
}

.second-table{
    margin-bottom: 20px;
}

table{
    font-family: "Open Sans", Arial,sans-serif;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 5px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;

    font-size: 14px;
    line-height: 19px;
    color: #86878B;
}

th{
    padding: 15px 140px 8px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #333333;
}

td{
    background: #FFFFFF;
    margin-bottom: 2px;
    padding: 10px;
    border: 2px solid #F5F5F5;
}

.price{
    padding: 25px 144px;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    background-color: #333333;
}

.offer{
    background-color: #333333;
}


/*--------------NONAME SECTION--------------*/

.nonamesec{
    background: url("../images/background_noname_converted.jpg");
    height: 325px;
}

.nonamesec__mask{
    height: 325px;
    background: rgba(0, 0, 0, 0.55);
}

.nonamesec__main-container{
    display: flex;
    margin: 60px auto 60px;
    max-width: 1180px;
    align-items: center;
    flex-direction: column;
}

.nonamesec__head{
    margin-top: 60px;
    width: 448px;
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.nonamesec__head:after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 34px;
    margin-left: 191px;
    border-bottom: 1px solid #FFFFFF;
}

.nonamesec__descr{
    margin-top: 34px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
}

.nonamesec__download{
    display: block;
    background-color: Transparent;
    background-repeat:no-repeat;
    margin-top: 57px;
    width: 135px;
    height: 42px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: color 0.5s ease;
}

.nonamesec__download:hover{
    transform: scale(1.05);
    color: #EC7979;
    border: 1px solid #EC7979;
}



/*--------------TESTIMONIALS SECTION--------------*/


.testimonials__main-container{
    display: flex;
    margin: 80px auto 60px;
    max-width: 1180px;
    align-items: center;
    flex-direction: column;
}

.testimonials__head{
    width: 670px;
    text-align: center;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    text-transform: uppercase;
}

.testimonials__head:after{
    content: '';
    display: block;
    width: 64px;
    margin-top: 34px;
    margin-left: 288px;
    border-bottom: 1px solid #E72424;
}

.testimonials__descr{
    margin-top: 34px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    color: #86878B;
}

.testimonials__rewiews-container{
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__rewiew{
    width: 300px;
    text-align: center;
    margin-right: 110px;
}

.testimonials__rewiew-msg{
    width: 298px;
    height: 110px;
    background: #E2E2E2;
    border-radius: 7px;
    padding: 3px 20px;

    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #86878B;
}

.testimonials__rewiew img{
    margin-top: 20px;
    margin-bottom: 30px;
}

.testimonials__rewiewer-person{
    display: flex;
    justify-content: space-between;
}

.testimonials__rewiewer{
    display: block;
    margin-top: 15px;
    max-width: 100px;
}

.name{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}

.position{
    margin-top: 12px;
    margin-left: 36px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #86878B
}




